head
    link(rel='stylesheet', href='/css/passwordReset.css')
body
    header
        div.logo
            img(src='/img/Logo-White.png')
            span
                h1 Froyo
                h2
                    | The Minimalist
                    br
                    | Social Network
    main
        h1 New Password
        form(action='/passwordReset', method='post')
            input(type='hidden', name='token', value=token)
            input(type='password', name='password', placeholder='New Password')
            input(type='password', name='password2', placeholder='Confirm Password')
            input(type='submit', value='Reset Password')