body {
    color: black;
    font-family: arial;
}

h1, h2, h3{
    font-weight: 550;
}

table, tr, th, td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 10px;
}

th{
    background-color: #eee;
}

code{
    background-color: whitesmoke;
}